<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>More About Me</h2>
        <p>You may have some questions about me, my skills, my projects, or my services. And that’s great, because I love answering questions! That’s why I created this FAQ section, where you can find the answers to some of the most frequently asked questions I get.</p>
      </div>
  
      <div class="faq-list">
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Why did you decide to change professions? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                I switched from teaching to web development because I wanted to explore new challenges as well as new opportunities. I love the challenge of figuring out how things work online, and it lets me use my creativity and technical skills to create my own work.
              </p>
            </div>
          </li>
          
          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Your transition from teaching to web development might be challenging. How can you ensure you have the necessary skills and experience? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                While my background is in teaching, I've actively pursued relevant courses such as the Full Stack Web Developer Course and gained hands-on experience through projects. This transition has actually enhanced my problem-solving skills and adaptability, making me well-suited to the dynamic nature of web development.
              </p>
            </div>
          </li>
  
          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How have you applied your mathematics and teaching background in your web development projects? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                My math and teaching background helps me create efficient and logical code. When developing websites, I focus on making them user-friendly, drawing from my teaching experience. This skill set is especially valuable in projects related to online learning.
              </p>
            </div>
          </li>
  
          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Why should we work with you? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Why team up with me? Beyond a penchant for precision and meticulous planning, I bring an adaptable spirit that turns challenges into triumphs. I thrive in the dynamic realm of web development, fueled by a passion for continuous learning and a knack for innovation. As a seasoned communicator with a dash of humor, I've mastered the art of collaboration. I believe in crafting not just projects but vibrant journeys, where dedication meets excitement, and success is a collective endeavor. Join forces with me, and let's transform your company's aspirations into a reality.
              </p>
            </div>
          </li>
  
        </ul>
      </div>
  
    </div>
  </section>