<section id="about">
    <div class="section-title">
    <h2>ABOUT US</h2>
    </div>

    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/cook.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Culinary Diversity</h2>
                    <p>Welcome to Unity Cuisine Co., where we pride ourselves on a vibrant celebration of global flavors. Our menu takes you on a culinary journey across continents, from the lively street food of Southeast Asia to the timeless classics of Europe and the bold spices of the Middle East. Our motto, "Harmony on Every Plate," encapsulates our commitment to creating a symphony of diverse tastes that will tantalize your taste buds and nourish your soul.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/platter.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Sustainable Sourcing</h2>
                    <p>At Unity Cuisine Co., we prioritize responsible and sustainable sourcing. Our commitment extends beyond creating exceptional dishes; we believe in supporting local communities and embracing environmentally conscious practices. Our motto, "Nourishing the Planet, One Bite at a Time," reflects our dedication to providing a dining experience that is not only delicious but also positively contributes to the health of our planet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/cheers.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Inclusive Dining Experience</h2>
                    <p>Step into Unity Cuisine Co., a space where everyone is warmly welcomed. We prioritize inclusivity, catering to diverse cultures, dietary preferences, and lifestyles. Our motto, "Breaking Bread, Building Bridges," embodies our belief that every meal is an opportunity to bring people together. Whether you're a seasoned food enthusiast, a vegetarian, or have specific dietary needs, our menu ensures there's something for everyone. Join us at Unity Cuisine Co., where breaking bread becomes the foundation for building connections and fostering unity in our community.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container team">

        <div class="row">
            <h3 class="text-center  wowload fadeInUp">Food Team</h3>
            <p class="text-center  wowload fadeInLeft">Our chefs that is making everything possible</p>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/chefs/chef-1.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Jane Gusto</h4>
                        <span>Senior Chef</span>
                        <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""><i class="ri-linkedin-box-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/chefs/chef-2.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Joe Gusto</h4>
                        <span>Chef</span>
                        <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""><i class="ri-linkedin-box-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/chefs/chef-3.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Joliene Gusto</h4>
                        <span>Assistant Chef</span>
                        <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""><i class="ri-linkedin-box-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
