<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
        <h2>Who Am I?</h2>
        </div>

        <div class="row content">
        <div class="col-lg-12">
            <p>
            I am a former mathematics teacher and a current web developer. After my graduation I worked as a teacher and private coach for many years. I have always wondered how websites are built and that is why I became a full stack web developer. I love creating beautiful and functional websites that solve real-world problems.
            </p>
            <ul>
            <li><i class="ri-check-double-line"></i>I have a foundation in mathematics and teaching, which gives me a logical and analytical mindset and a knack for explaining complex concepts in simple terms. I am about to finish my master’s degree in educational technologies, and I have completed several online courses and bootcamps on web development. I have also worked as a mathematics teacher and a customer service representative, where I developed my communication and interpersonal skills.</li>
            <li><i class="ri-check-double-line"></i>As a full stack web developer, I can handle both the frontend and the backend of a website, using technologies such as HTML, CSS, JavaScript, Bootstrap, Angular, Node.js, PHP, Symfony, SQL, and phpMyAdmin. I have worked on various projects, such as a personal website, a blog, a quiz app, a shopping cart, and a social network. I have also used Git and GitHub for version control and collaboration.</li>
            <li><i class="ri-check-double-line"></i>I am passionate about continuous learning and innovation, and I always look for new ways to improve my skills and expand my knowledge. I follow the latest trends and best practices in web development, and I regularly read blogs, watch videos, and participate in online communities. I also value teamwork and knowledge exchange, and I enjoy working with other developers and sharing ideas and feedback.</li>
            </ul>
        </div>
        <div class="col-lg-12 pt-4 pt-lg-0">
            <p>
                My aspiration is to stay at the forefront of web development and embrace new challenges. I am looking for opportunities to work on exciting and meaningful projects that can make a positive impact on the world. If you are interested in working with me, please feel free to contact me or check out my portfolio.
            </p>
        </div>
        
        </div>

    </div>
</section>