<section id="hero" class="d-flex align-items-center">

  <div class="hero">
    <div class="caption">
      <div class="caption-wrapper">
        <img class="hero-img" src="assets/img/back.jpg" alt="">
        <div class="caption-info">              
          <i class="fa fa-coffee fa-5x"></i>
          <h1>Every Dish Tells a Tale of Global Harmony</h1>
          <p>At Unity Cuisine Co., savor the world on a plate, where flavors unite and cultures ignite in a culinary symphony.</p>
          <a href="#menu" class="explore animated bounceInDown"><i class="fa fa-angle-down fa-3x"></i></a>
        </div>
      </div>
    </div>
  </div>  

</section>