
<header id="header" class="fixed-top ">
<div class="container d-flex align-items-center">

    <a href="index.html" class="me-auto">
        <img src="assets/images/logo.png" class="logo" alt="Unity Cuisine Co">
    </a>
    
    <nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">Best Seller</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">Menu</a></li>
        <li><a class="nav-link scrollto" href="#faq">Food Team</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li><a class="getstarted scrollto" href="#about">Place an Order</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

</div>
</header>