<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
  
    <div class="section-title">
        <h2>MENU</h2>
    </div>
  
      <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-Soup">Soup</li>
        <li data-filter=".filter-Appetizer">Appetizer</li>
        <li data-filter=".filter-Main">Main Dish</li>
        <li data-filter=".filter-Side">Side Dİsh</li>
        <li data-filter=".filter-Dessert">Dessert</li>
        <li data-filter=".filter-Drink">Drink</li>
      </ul>
  
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Soup">
            <div class="portfolio-img"><img src="assets/img/food/tomato_basil_soup.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Tomato Basil Soup</h4>
              <p>Italian</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>  
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Appetizer">
            <div class="portfolio-img"><img src="assets/img/food/spinach_artichoke_dip.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Spinach Artichoke Dip</h4>
              <p>American</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Main">
            <div class="portfolio-img"><img src="assets/img/food/chicken_alfredo_pasta.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Chicken Alfredo Pasta</h4>
              <p>Italian</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 portfolio-item filter-Side">
            <div class="portfolio-img"><img src="assets/img/food/roasted_brussels_sprouts.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Garlic Roasted Brussels Sprouts</h4>
              <p>European</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Dessert">
            <div class="portfolio-img"><img src="assets/img/food/chocolate_lava_cake.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Chocolate Lava Cake</h4>
              <p>French</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Drink">
            <div class="portfolio-img"><img src="assets/img/food/mango_smoothie.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Mango Smoothie</h4>
              <p>International</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Soup">
            <div class="portfolio-img"><img src="assets/img/food/butternut_squash_soup.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Butternut Squash Soup</h4>
              <p>American</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Appetizer">
            <div class="portfolio-img"><img src="assets/img/food/stuffed_mushrooms.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Stuffed Mushrooms</h4>
              <p>International</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Main">
            <div class="portfolio-img"><img src="assets/img/food/beef_stir_fry.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Beef Stir-Fry</h4>
              <p>Asian</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Side">
            <div class="portfolio-img"><img src="assets/img/food/quinoa_salad.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Quinoa Salad</h4>
              <p>Mediterranean</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Dessert">
            <div class="portfolio-img"><img src="assets/img/food/tiramisu.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Tiramisu</h4>
              <p>Italian</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Drink">
            <div class="portfolio-img"><img src="assets/img/food/pomegranate_mojito.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Pomegranate Mojito</h4>
              <p>Latin American</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Soup">
            <div class="portfolio-img"><img src="assets/img/food/broccoli_cheddar_soup.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Creamy Broccoli Cheddar Soup</h4>
              <p>American</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Appetizer">
            <div class="portfolio-img"><img src="assets/img/food/caprese_skewers.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Caprese Skewers</h4>
              <p>Italian</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Main">
            <div class="portfolio-img"><img src="assets/img/food/shrimp_scampi_pasta.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Shrimp Scampi Pasta</h4>
              <p>Italian</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Side">
            <div class="portfolio-img"><img src="assets/img/food/roasted_garlic_mashed_potatoes.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Roasted Garlic Mashed Potatoes</h4>
              <p>International</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Dessert">
            <div class="portfolio-img"><img src="assets/img/food/strawberry_shortcake.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Strawberry Shortcake</h4>
              <p>American</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-Drink">
            <div class="portfolio-img"><img src="assets/img/food/mint_lemonade.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Mint Lemonade</h4>
              <p>International</p>
              <a href="" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

      </div>
  
    </div>
</section>