body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.box {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 5vw;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease-in;
}
